.menu_intro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#menu_detail_img {
    background-color: rgb(190, 212, 127);
    overflow: hidden;
    position : center;
    width : 100px;
    height: 100px;
    margin-right :20px; 
  }
  
  .select_menu{
    padding : 6px;
    border: 3px solid #ffbc0d;
    border-radius: 10%;
    display : flex;
    flex-direction: column;
    justify-content : center;
    /*align center/\
    */
  }
  .menu_intro{
    display : flex;
    flex-direction: row;
    justify-content : center;
    /*align center/\
    */
  }
  
  #menu_info{
    display : flex;
    flex-direction: column;
    /*align column deraction*/
  }
  
  #menu_price{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 2px solid #ffbc0d;
  }
  #menu_price span{
    font-size: 20px;
    font-weight: bold;
    padding : 5px;
  }
  
  #clickerbutton{
    display : flex;
    position : center;
    align-items: center;
    
  }
  #select_price{
    width : 200px;
    text-align: center;
  }

  .menu_detail h2{
    margin: 5px;
    background-color: #ffbc0d;
  }
  @media (max-width: 500px) {
    .Options {
        display: flex;
        flex-direction: column;
        padding: 0px;
          }
        }
  .Options label{
    margin: 5px;
    padding: 5px;
    border: 2px solid #ffbc0d;
    border-radius: 5%;

  }
    
#fin button{
    width : 100%;
    height : 100%;
    background-color: #ffbc0d;
    border: 2px solid #ffbc0d;
    border-radius: 5%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 10px;
    padding: 10px;
    }
    #fin button:hover{
    background-color: white;
    color: #ffbc0d;
    }

    #fin{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
  
    #fin h2{
    margin: 5px;
    background-color: #ffbc0d;
    }



    @media (max-width: 700px) {
    .Options {
        display: flex;
        flex-direction: column;
        padding: 0px;
          }
    #fin{
      display : flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      }
        }
  



