.finish_order_list{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 600;
}

#finalCheck button {
  width: 8rem;
  height: 4rem;
  font-size: 1rem;
  font-weight: 600;
  color: #292929;
  border-radius: 7px;
  background-color: blue;
  position: absolute;
  left: 100%;
  top: 1000%;
  transform: translate(-50%, -50%);
}
  
#finalCheck button:hover {
  filter: brightness(1.1);
}
  
#finalCheck button:active {
  filter: brightness(0.9);
}


#back button {
  width: 8rem;
  height: 4rem;
  font-size: 1rem;
  font-weight: 600;
  color: #292929;
  border-radius: 7px;
  background-color: blue;
  position: absolute;
  left: 0%;
  top: 1000%;
  transform: translate(-50%, -50%);
}
  
#back button:hover {
  filter: brightness(1.1);
}
  
#back button:active {
  filter: brightness(0.9);
}

