/* make table style for table in OrderTable */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 20px;
}
table td {
  text-align: center;
}
table tr {
  border-bottom: 1px solid #ddd;
}
.table .col {
  background-color: aqua;
  position: sticky;
  top: 0px;
  margin: 0 0 0 10;
}
.tableContainer {
  border-radius: 20px;
  height: 150px;
  padding: 0 10px 10px 10px;
  overflow: auto;
}
