.category_container {
    display: block;
    text-align: center;
    height: 100vh;
    font-size: 1.2rem;
    /* float: left; */
    border-right: 1px solid #132D48;
    background-color: white;
}

.category_container {
    list-style: none;
}

.categories li {
    margin: 0;
    padding: 10%;
}

.categories {
    margin: 0;
    padding: 10%;
}

.selected {
    background-color: #132D48;
    margin: 0;
    padding: 10%;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}